<header>
  <nav>
    {{#if userLoged.loged}}
      <a href="/api/session/logout"><li>Logout</li></a>
    {{else}}
      <a href="/login"><li>Login</li></a>
    {{/if}}

    <a href="/register"><li>Register</li></a>

    <a href="/products"><li>Products</li></a>

    <a id="anchorCarrito" >
      <li style="border: 0px;"><img
          src="/static/img/shopping_cart_512px.png"
          alt="cart"
          width="25px"
          height="25px"
        />
      </li>
    </a>
  </nav>
</header>

<div id="listado">

  {{#if errorPage}}
    <h1> Ocurrió un error. Página solicida no existe.</h1>

  {{else}}

    {{#if userLoged.loged}}
      <div id="tituloUser">
        <h4>Bienvenido
          {{userLoged.first_name}}
          {{userLoged.last_name}}</h4>
        <span>(cuenta: {{userLoged.role}})</span>
      </div>
    {{/if}}
    <ul>
      {{#each docs}}
        <li>
          <form action="/" id="formProdCarrito">
            <div><b>ID:</b> <span id="form_id">{{this.id}}</span></div>
            <div><b>Title:</b> <span id="form_title">{{this.title}}</span></div>
            <div><b>Description:</b>
              <span id="form_description">{{this.description}}</span></div>
            <div><b>Price: $</b>
              <span id="form_price">{{this.price}}</span></div>
            <div><b>Thumbnail:</b>
              <span id="form_thumbnail">{{this.thumbnail}}</span></div>
            <div><b>Code:</b> <span id="form_code">{{this.code}}</span></div>
            <div><b>Stock:</b> <span id="form_stock">{{this.stock}}</span></div>
            <div><b>Category:</b>
              <span id="form_category">{{this.category}}</span></div>
            <div><b>Status:</b>
              <span id="form_status">{{this.status}}</span></div>
            <div><button type="submit"><b>Agregar al carrito</b></button></div>
          </form>
        </li>
      {{/each}}
    </ul>

    {{#if hasPrevPage}}
      <a href="/products/?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="/products/?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
  {{/if}}

</div>

<script src="/static/js/products.js"></script>
